*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

p{
    font-size: 17px;
}

body{
    font-family: 'Lato', sans-serif;
    color: var(--color-text);
}

:root{
    --bg: #ebebeb;
    --bg-panel: #fff;
    --color-headings: #0077FF;
    --color-text: #000;
    --branco: #fff;
    --zinza: #aeaeae;
    --azul: #4070f4;
}

/*-----Change Theme----*/

body.dark-theme{
    --bg: #191919;
    --bg-panel: #000;
    --color-headings: #3664FF;
    --color-text: #fff;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
}

/*----Menu----*/

header{
    width: 100%;
    position: fixed;
    top: 0;
	left: 0;
    background-color: var(--bg);
}

#principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;

}

#logo h2{
    cursor: pointer;
    font-weight: normal;
    
}

nav ul{
    display: flex;
    flex-direction: row;
}

ul li{
    margin: 0 10px;
}

li a{
    color: var(--color-text);
    font-size: 17px;
    padding: 10px;
}

li a:hover{
    border-bottom: 2.5px solid var(--color-headings);
}

li a.active {
    border-bottom: 2.5px solid var(--color-headings);
}

li#dark-mode i{
    cursor: pointer;
}

/*---Main---*/

#banner{
    background-color: var(--bg-panel);
    padding: 200px 0;
    display: grid;
    grid-template-columns: 900px auto;

}

#banner #conteudo{
    margin-left: 175px;
    margin-right: 50px;
    
}

#banner h2 {
    margin:0;
    font-size: 3em;
    font-weight: normal;
    border-top: 1px solid var(--color-headings);
    
}


#conteudo p{
    margin-top: 20px;
    margin-bottom: 70px;
    border-bottom: 1px solid var(--color-headings);
}


#button a{
    background-color: var(--color-headings);
    color: var(--branco);
    padding: 15px;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
}

#banner a:hover {
    background-color: var(--azul);
}


/*---Principal---- */

#principal{
    background-color: var(--bg);
    
}

#principal #containner{
    padding: 90px 0;
}

#principal #containner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

#containner a:hover{
    background-color: var(--zinza);
    color: var(--color-text);
}

.box p{
    margin-top: 20px;
}

.box h3{
    font-size: 30px;
    font-weight: normal;
}

.box a{
    color: var(--branco);
    padding: 15px;
    background-color: var(--color-headings);
    font-size: 17px;
}

#button-box{
    margin-top: 40px;
}

#info{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 200px 200px;
    
}

#info .box-4{
    margin: 1px;
    padding: 15px;
}


.box-4 h4{
    font-size: 20px;
    font-weight: normal;
    display: inline;
    margin-left: 10px;
}

.box-4 a{
    padding: 10px 12px;
    color: var(--branco);
    font-size: 17px;
    background-color: var(--color-headings);
}

.box-4 p{
    margin: 20px 0;
}

/*----Aside-----*/

aside{
    background-color: var(--bg-panel);
    
}

#conhecimentos{
    text-align: start;
    padding: 90px 0;
    width: 600px;
    margin-left: 175px;
    
}

#conhecimentos h1{
    font-size: 30px;
    margin-bottom: 30px;
    
}

#conhecimentos p{
    line-height: 30px;
    margin-bottom: 70px;
}

#conhecimentos a{
    padding: 15px;
    background-color: var(--color-headings);
    font-size: 17px;
    color: var(--branco);
    border-radius: 20px;
}

#conhecimentos a:hover{
    background-color: var(--azul);
}


/*---Aside 2---*/

#aside-2{
    background-color: var(--bg);
}

#conheca{
    padding: 90px 0;
    display: grid;
    grid-template-columns: 50% 50%;
}

#texto h1{
    font-size: 30px;
    margin-bottom: 30px;
}

#texto p {
    line-height: 30px;
}


#texto a{
    padding: 15px;
    background-color: var(--color-headings);
    font-size: 17px;
    color: var(--branco);
   
}

#texto a:hover{
    background-color: var(--azul);
}

#button-social{
    margin-top: 40px;

}

/*---footer---*/

footer{
    background-color: var(--bg);
   
    
}

#social{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
   
}

#social p{
    margin-bottom: 20px;
}

#midiasSociaisFooter a{
    color: var(--color-text);
    font-size: 30px;
    margin: 10px;

}